body{

}
.clearfix{
	clear:both;
}
.no-padding{
	padding-left:0!important;
	padding-right:0!important;
}
.no-margin{
	margin-left:0!important;
	margin-right:0!important;
}

/*header section starts */
.header{
    background:rgba(128, 128, 128, 0.26);
    width: 100%;
    height: 92px;
}
.logo a:link, .logo a:visited{
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    font-size: 50px;
    background: #ffffff;
    color:#448aad;
    padding: 10px 15px;
    box-shadow:10px 10px 3px #448aad;
}
.menu-trigger{
    display:none;
}
.menubar{
    text-align: right;
}
.menubar ul li{
    display: inline-block;
    padding-top: 35px;
}
.menubar ul li a:link, .menubar ul li a:visited{
    text-transform: uppercase;
    text-decoration: none;
    color: #448aad;
    font-size: 16px;
    padding: 10px 15px;
}
.menubar ul li a:hover{
    color: #ffffff;
}
.user-account{
    text-align: right;
}
.user-account ul li{
    display: inline-block;
    padding: 5px 5px;
}
.user-account ul li a:link, .user-account ul li a:visited{
    text-transform: capitalize;
    color: #448aad; 
}
.user-account ul li:first-child{
    border-right: 1px solid #448aad;
}
.user-account ul li:last-child{
    border-left: 1px solid #448aad;
}
/*header section ends */

/* banner section start */
.banner{
    background: url("../images/banner.jpg")no-repeat center center;
    width: 100%;
    background-size: cover;
    overflow:hidden;
}
.banner-heading h1{
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    color:#ffffff;
    text-align: right;
    padding-top: 50px;
}
.banner-content{
    text-align:right;
    padding: 30px 20px 50px 20px;
    background: rgba(68, 138, 173, 0.59);
}
.banner-content p{
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 18px;
}
.banner-content a:link, .banner-content a:visited{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px 10px;
}
.banner-content a:hover{
    color:#448aad;
    background: #ffffff;
} 
.iphone{
    background: url("../images/iphone5.png")no-repeat;
    height: 460px;
    width:100%;
}
/* banner section ends */


/* about section starts */
.about-content{
    text-align: center;
    padding: 20px 0 40px 0;
}
.about-content h2{
    text-transform: uppercase;
    color: #448aad;
}
.about-content p{
    padding-bottom: 20px;
}
.about-content a:link, .about-content a:visited{
    color: #448aad;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #448aad;
    padding: 10px 10px;
}
.about-content a:hover{
    color:#ffffff;
    background: #448aad;
} 
/* about section ends */


/* isotopes section starts */
.isotopes{
    background: rgba(128, 128, 128, 0.26);
    text-align: center;
}
.isotopes-content ul{
    padding: 50px 0;
}
.isotopes-content ul li{
    display: inline-block;
}
.isotopes-content ul li a:link, .isotopes-content ul li a:visited{
    color:#448aad;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #448aad;
    padding: 10px 10px;
}
.isotopes-content ul li a:hover{
    color:#ffffff;
    background: #448aad;
}
.single-item img{
    height:250px;
    width:250px;
}
.product-items{
    padding:0 30px;
    padding-bottom: 50px;
}
/* isotopes section ends */


/* isotopes section starts */
.products-content{
    text-align: center;
}
.products-content h2{
    color: #448aad;
    text-transform: uppercase;
    padding-top:20px;
}
/* isotopes section ends */

/* products section starts */
.items-product{
    text-align:center;
    padding:30px 0;
}
.items-product img{
    height:100px;
    width:100px;
    padding:10px 0;
}
/* products section ends */


/* for mobile design, responsive design */

@media screen and (max-width:768px){
    .logo{
        display:none;
    }
    .menu-trigger{
        display: block;
        color: #448aad;
        text-transform: uppercase;
        cursor: pointer;
        padding-top: 35px;
    }.menubar{
        display: none;
    }
    .menubar ul{
        text-align: center;
        padding-top: 100px;
    }
    .menubar ul li{
        border-bottom: 2px solid #448aad;
        padding-top: 3px;
        padding-bottom: 0;
        width: 150px;
    }
    .menubar ul li:last-child{
        border-bottom:none;
    }
    .menubar ul li a:link, .menubar ul li a:visited{
        padding-top: 0;
        padding-bottom: 0;
    }
    .menubar ul li a:hover{
        color:#ffffff;
        background: #448aad;
        padding:5px 5px;
    }
    .nav-expanded{
		display:block;
	}
    .user-account{
        padding: 10px 5px;
        text-align: left;
    }
    .user-account ul li:first-child{
        border-right: none;
    }
    .user-account ul li:last-child{
        border-left: none;
        border-top: 1px solid #448aad;
    }
    .iphone{
        display: none;
    }
    .banner-heading h1{
        text-align: center;
    }
    .banner-content{
        text-align:center;
        background: none;
    }
}